.SwipeInput {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

.SwipeTitle {
    font-family: 'Josefin Sans';
    font-size: 48px;
}

.SwipeBody {
    font-family: 'Josefin Sans';
    font-size: 24px;
    margin: 10px;
}

.SwipeImg {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 600px;
}