.list-page {
  position: fixed;
  background-color: rgba(39,39,39,1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .top-bar {
    position: absolute;
    top: 0;
    height: 15.09vh;
    width: 100%;
    background: rgba(39,39,39,1);
    border-bottom-width: 0.0862vh;
    border-bottom-color: #4E4E4E;
    border-bottom-style: solid;
    align-items: normal;
    padding-top: 8.5vh;

    .title {
      text-align: center;
      font-family: "CeraPro-Bold";
      font-style: normal;
      font-weight: bold;
      font-size: 3.695vh;
      line-height: 3.695vh;
      color: rgba(255,255,255,1);
      display: inline-block;
      justify-content: center;
      padding: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .home-button {
      float: left;
      margin-left: 13px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: rgba(255,255,255,0.3);
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      align-content: center;
      align-items: center;
      position: relative;

      span {
        text-align: center;
        font-family: "IkonoMiniL-5";
        font-style: normal;
        font-weight: normal;
        font-size: 12.5px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    //
    // .place-list-top-bar-back-button > img {
    //   border-radius: 50%;
    //   max-height: 32px;
    //   max-width: 32px;
    // }
    //
    // .place-list-top-bar-export-btn {
    //   float: right;
    //   width: 48px;
    //   height: 32px;
    //   border-radius: 50%;
    //   -moz-border-radius: 50%;
    //   -webkit-border-radius: 50%;
    // }
    //
    // .place-list-top-bar-export-btn > img {
    //   border-radius: 50%;
    //   max-height: 32px;
    //   max-width: 36px;
    // }
  }

  .place-container {
    display: flex;
    flex-direction: column;
    margin-top: 15.09vh;
    height: 74.27vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .swipe-button-bottom {
    position: absolute;
    bottom: 0;
    height: 10.64vh;
    width: 100vw;
    max-width: 400px;

    background-color: rgba(255, 255, 255, 0.3);
    border: none;

    font-family: "CeraPro-Bold";
    font-size: 30px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
  }

  .place-container-empty {
    span {
      position: absolute;
      left: 67px;
      top: 330px;
      overflow: visible;
      width: 243px;
      white-space: nowrap;
      text-align: center;
      font-family: "CeraPro-Bold";
      font-style: normal;
      font-size: 20px;
      line-height: 25px;
      color: rgba(255,255,255,1);
    }

    .swipe-button {
      background-color: rgba(255,255,255,1);
      border-color: rgba(112,112,112,1);
      border-width: 1px;
      border-style: solid;
      border-radius: 27px;

      position: absolute;
      overflow: visible;
      width: 258px;
      height: 54px;
      left: 59px;
      top: 425px;
      white-space: nowrap;
      text-align: center;
      font-family: "CeraPro-Bold";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(39,39,39,1);
    }

    .swipe-button:active {
      background-color: rgba(255,255,255,0.3) !important;
      border-color: rgba(255,255,255,0.3) !important;
    }
  }
}
