.trips-page {
  position: fixed;
  background: rgba(39,39,39,1);
  height: 100vh;
  width: 100vw;

  .top-bar {
      position: absolute;
      top: 0;
      text-align: center;
      height: 15.09vh;
      width: 100%;
      background: rgba(39,39,39,1);
      border-bottom-width: 0.0862vh;
      border-bottom-color: #4E4E4E;
      border-bottom-style: solid;

      .title {
      		text-align: center;
          font-family: "CeraPro-Bold";
      		font-style: normal;
      		font-weight: bold;
      		font-size: 3.695vh;
      		color: rgba(255,255,255,1);
          margin-top: 8.25vh;
          display: inline-block;
          justify-content: center;
          padding: 0;
      }
  }

  .trips-container {
    display: flex;
    flex-direction: column;
    margin-top: 15.09vh;
    height: 64.37vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .add-icon-container {
    position: absolute;
    background-color: rgba(39,39,39,1);
    bottom: 0;
    height: 20.54vh;
    width: 100%;
    border-top-width: 0.0862vh;
    border-top-color: #4E4E4E;
    border-top-style: solid;

    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4.286vh;
      width: 9.11vh;
      height: 9.11vh;
      overflow: visible;
      border-radius: 50%;
      border: solid 0.493vh rgba(255,255,255,1);
      text-align: center;
      position: relative;

      .add {
        font-family: "CeraPro-Regular";
        font-size: 4.43vh;
        line-height: 5.54vh;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .trips-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-trips-text {
      margin-top: 18.9vh;
      text-align: center;
      font-family: "CeraPro-Bold";
      font-style: normal;
      font-size: 2.463vh;
      color: rgba(255,255,255,1);
    }

    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4.286vh;
      width: 20.2vh;
      height: 20.2vh;
      overflow: visible;
      border-radius: 50%;
      border: solid 0.86vh rgba(255,255,255,1);
      text-align: center;
      position: relative;

      .add {
        font-family: "CeraPro-Regular";
        font-size: 9.85vh;
        line-height: 9.85vh;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
