html, body {
  height: 100%;
  margin: 0;
}

.trips-page {
  position: fixed;
  background: rgba(39,39,39,1);
  height: 100%;
  width: 100%;
  display: block;

  .top-bar {
      position: absolute;
      top: 0;
      height: 9%;
      width: 100%;
      padding: 0 3.47vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      background: rgba(39,39,39,1);
      border-bottom-width: 0.0862vh;
      border-bottom-color: #4E4E4E;
      border-bottom-style: solid;

      .title {
      		text-align: center;
          font-family: "CeraPro-Bold";
      		font-style: normal;
      		font-weight: bold;
      		font-size: 3.695vh;
      		color: rgba(255,255,255,1);
          padding: 0;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
      }
  }

  .trips-container {
    position: absolute;
    top: 9.1%;
    height: 70.46%;
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .add-icon-container {
    position: absolute;
    background-color: rgba(39,39,39,1);
    bottom: 0;
    height: 20.54%;
    width: 100%;
    border-top-width: 0.0862vh;
    border-top-color: #4E4E4E;
    border-top-style: solid;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon {
      width: 9.11vh;
      height: 9.11vh;
      border-radius: 50%;
      border: solid 0.493vh rgba(255,255,255,1);
      margin: auto;
      position: relative;

      .add {
        font-family: "CeraPro-Regular";
        font-size: 4.43vh;
        line-height: 5.54vh;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .trips-container-empty {
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-trips-text {
      margin-top: 22.26%;
      text-align: center;
      font-family: "CeraPro-Bold";
      font-style: normal;
      font-size: 2.463vh;
      color: rgba(255,255,255,1);
    }

    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4.286vh;
      width: 20.2vh;
      height: 20.2vh;
      overflow: visible;
      border-radius: 50%;
      border: solid 0.86vh rgba(255,255,255,1);
      text-align: center;
      position: relative;

      .add {
        font-family: "CeraPro-Regular";
        font-size: 9.85vh;
        line-height: 9.85vh;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
