.tutorial-page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #272727;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .tutorial-image {
    height: 100vh;
  }
}