.city-card {
    width: 100vw;
    margin: 3.29vh 0;

    .city-image {
    		width: 29.56vh;
    		height: 29.56vh;
        margin-bottom: 3.2vh;
    }

    .city-name {
    		text-align: center;
    		font-family: "CeraPro-Bold";
    		font-style: normal;
    		font-size: 3.69vh;
    		color: rgba(255,255,255,1);
    }
}
