#root {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #272727;

    .city-select {
        position: relative;
        background: rgba(39,39,39,1);
        height: 100%;
        width: 320px;
        text-align: center;
        display: flex;

        // if screen width < 555px, apply this
        @media screen and (max-width: 555px) {
          width: 100%;
          border: none;
        }

        .close {
        		position: absolute;
        		left: 26.5px;
        		top: 15.5px;
        		white-space: nowrap;
        		text-align: center;
        		font-family: "IkonoMiniL-5";
        		font-style: normal;
        		font-weight: normal;
        		font-size: 2.46vh;
            line-height: normal;
        		color: rgba(255,255,255,1);
            opacity: 1;
            text-shadow: none;
        }

        .city-list {
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
