.group-settings {
  position: fixed;
  background: rgba(39,39,39,1);
  height: 100%;
  width: 100%;
  display: block;

  .top-bar {
      height: 9%;
      width: 100%;
      padding: 0 7.2%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background: rgba(39,39,39,1);
      border-bottom-width: 0.0862vh;
      border-bottom-color: #4E4E4E;
      border-bottom-style: solid;

      .close {
        opacity: 1;
        float: none;
        width: 6%;

        span {
          font-size: 2.46vh;
        }
      }

      .title {
          width: 100%;
      		text-align: center;
          font-family: "CeraPro-Bold";
      		font-style: normal;
      		font-weight: bold;
      		font-size: 3.695vh;
          color: #FFFFFF;
          padding: 0;
      }

      .edit {
        visibility: hidden;
        font-family: "CeraPro-Medium";
        font-style: normal;
        font-weight: bold;
        font-size: 1.48vh;
        color: #FFFFFF;
      }
  }

  .add-friend {
    height: 85px;
    width: 100%;
    margin-top: 15px;

    display: flex;
    align-items: center;

    .add-button {
      height: 49px;
      width: 49px;
      border-width: 1px;

      margin-left: 32px;
      margin-right: 25px;

      span {
        font-size: 33px;
        font-family: "CeraPro-Light";
        color: #FFFFFF;
      }
    }

    .add-text {
      width: 186px;
      height: 100%;

      border-bottom-width: 0.5px;
      border-bottom-color: #707070;
      border-bottom-style: solid;

      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 20px;
        font-family: "CeraPro-Medium";
        color: #FFFFFF;
      }
    }
  }

  .friends-container {
    height: 70.46%;
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;

    .trip-friend {
      height: 85px;

      .prof-pic {
        height: 49px;
        width: 49px;

        margin-left: 32px;
        margin-right: 25px;
      }

      .prof-pic-default {
        span {
          font-size: 2.8vh;
        }
      }

      .name {
        width: 186px;
        height: 100%;

        border-bottom-width: 0.5px;
        border-bottom-color: #707070;
        border-bottom-style: solid;

        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-size: 15px;
          font-family: "CeraPro-Medium";
          color: #FFFFFF;
        }
      }

      .admin {
        visibility: hidden;
        height: 100%;
        margin-left: 16px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-size: 12px;
          font-family: "CeraPro-Medium";
          color: #FFFFFF;
        }
      }
    }
  }

  .bottom-bar {
    position: absolute;
    bottom: 0;
    height: 20.54%;
    width: 100%;

    background-color: rgba(39,39,39,1);
    border-top-width: 0.0862vh;
    border-top-color: #4E4E4E;
    border-top-style: solid;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .link-button {
      width: 258px;
      height: 54px; // 3.5vh;
      margin: auto;
      background-color: #FFFFFF;
      border-radius: 27px; // 1.75vh;
      border: none;
      display: flex;

      span {
        margin: auto;
        color: #272727;
        font-family: "CeraPro-Bold";
        font-size: 16px; // 1.3vh;
      }
    }
  }
}
