.info-panel {
  height: 100%;
  width: 100%;
  background-color: #272727;
  color: white;
  display: block;

  .info-content {
    background-color: #272727;
    color: white;
    width: 100%;
    height: 100%;

    .info-button-close {
      width: 100%;
      height: 12.84%;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: transparent;
      border: none;
      color: white;

      .icon {
        font-family: 'IkonoMiniL-3';
        font-size: 2.46vh;
        transform: rotate(180deg);
      }

      .text {
        font-family: 'CeraPro-Medium';
        font-size: 1.23vh;
        margin-top: 1.23vh;
      }
    }

    .info-title {
      font-size: 3.45vh;
      font-family: 'CeraPro-Bold';
      margin: 0 2.13%;
    }

    .info-intro {
      font-size: 1.8vh;
      font-family: 'CeraPro-Medium';
      margin: 0 2.13%;
    }

    .info-address,
    .info-reviews {
      font-size: 1.35vh;
      font-family: 'CeraPro-Medium';
      margin: 1.23vh 5.87%;
    }
  }

  // To override react-sliding-panel css
  .cloud-sliding-panel-container {
    width: 100%;

    .panel-glass {
      width: 100%;
    }

    .panel-bottom {
      width: 100%;
    }
  }
}
