.login {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 50px;

  .sso-container {
    display: flex;
    flex-direction: row;
  }
  
  .login-fields {
    margin-top: 20px;

    .email-field,
    .password-field {
      background-color: rgba(241,138,124, 0.24);
      border: 0;
      height: 38px;

      &::placeholder {
        font-family: 'JosefinSans-Regular';
        font-weight: 600;
        color: #353839;
      }
    }
  }
}
