.placeinfo {
  width: 1200px;

  // if screen width < 555px, apply this
  @media screen and (max-width: 580px) {
    width:95%; top:0;
  }

  .info-title {
    font-family: 'JosefinSans-Regular';
    font-size: 40px;
    text-align: center;
    width: 100%;
  }

  .info-body {
    margin: 5px 20px;

    .image-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .image {
        width: 340px;
        height: 200px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
      }
    }
    .info-content {
      font-family: 'JosefinSans-Regular';
      margin-top: 50px;
      width: 70%;

      .name {
        font-weight: 700;
        font-size: 36px;
      }

      .description {
        font-size: 15px;
        font-style: italic;
      }

      .location {
        .word {
          font-family: 'JosefinSans-SemiBold';
          font-size: 18px;
        }
        font-family: 'JosefinSans-Regular';
        margin-top: 20px;
        font-size: 15px;
      }

      .review-container {
        .section-title {
          font-family: 'JosefinSans-Semibold';
          margin: 20px 0px;
          font-size: 18px;
        }

        .review {
          font-size: 16px;
          margin-top: 10px;
          margin-bottom: 40px;
          .reviewer {
            font-size: 14px;
            font-style: italic;
          }
        }
      }
    }
  }
}
