.place-card {
  display: flex;
  background-color: rgba(39,39,39,1);
  height: 16.38vh;
  min-height: 16.38vh;
  max-height: 16.38vh;
  width: 100%;
  position: relative;

  .place-img-container {
    img {
      position: absolute;
      top: 3.26vh;
  		left: 7.2%;
  		width: 12.3vh;
  		height: 12.3vh;
      border-radius: 6.16vh;
      object-fit: cover;
    }
  }

  .place-details {
    display: block;
    position: relative;
    width: 49.6%;
    height: 100%;

    margin-left: 42.67%;
    padding-top: 5.54vh;
    text-align: left;

    border-bottom-width: 0.123vh;
    border-bottom-color: rgba(112,112,112,1);
    border-bottom-style: solid;

    .place-name {
  		white-space: nowrap;
  		font-family: "CeraPro-Bold";
  		font-style: normal;
  		font-weight: bold;
  		font-size: 1.85vh;
  		color: rgba(255,255,255,1);
      margin-bottom: 1.23vh;
    }
    .place-others {
  		text-align: left;
  		font-family: "CeraPro-Regular";
  		font-style: normal;
  		font-weight: normal;
  		font-size: 1.35vh;
  		color: rgba(255,255,255,1);
    }
  }
}
