.side-drawer {
  position: fixed;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  background-color: #212529;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer-open {
  position: fixed;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  background-color: #212529;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  z-index: 200;
  transform: translateX(0);
  transition: transform 0.3s ease-in;

  .side-drawer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .swipe-drawer-profile {
      height: 10vh;
      width: 10vh;
    }

  }
}