.swipe,
.swipe-container {
  position: relative;
  width: 250px;
  height: 250px;

  .swipe-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .swipe-cards {
    background: whitesmoke;
    border-radius: 3px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }

  .swipe-button {
    padding: 16px 24px;
    background: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
}


