.title {	
    display: inline;	
    justify-content: center;	
    padding: 3%;	
  
    h1 {	
      font-family: "CeraPro-Bold";	
      text-align: center;	
      color: white;
      font-size: 32px;	
    }	
}