.trip-details {
  display: flex;
  overflow: hidden;

  .trip-friends {
    width: 50%;
    height: 100%;
    border-right-width: 0.0862vh;
    border-right-color: #4E4E4E;
    border-right-style: solid;
  }

  .trip-friends-filled {
    padding: 0 6.93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .trip-friends-filled-text {
      position: absolute;
      top: 5.53%;
      width: 72.27%;
      text-align: center;
      font-family: "CeraPro-Bold";
      font-size: 1.48vh;
      color: #FFFFFF;
      margin-bottom: 1.23vh;
      margin-left: auto;
      margin-right: auto;
    }

    .trip-friends-list {
      position: absolute;
      top: 24%;
      width: 72.27%;
      display: block;
      height: 81%;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  .trip-buttons {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .manage-group {
      width: 16vh;
      height: 3.5vh;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 1.75vh;
      border: none;
      display: flex;

      span {
        margin: auto;
        color: #FFFFFF;
        font-family: "CeraPro-Medium";
        font-size: 1.3vh;
      }
    }
  }
}
