// Font Imports

@font-face {
  font-family: 'GlossAndBloom';
  src: url('/assets/fonts/Gloss_And_Bloom.ttf') format('truetype');
}

// @include font-face("GlossAndBloom", "/assets/fonts/Gloss_And_Bloom.ttf", 300, $file-formats: ttf);


@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}