// Font Imports

@font-face {
  font-family: 'GlossAndBloom';
  src: url('/assets/fonts/Gloss_And_Bloom.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('/assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
}