// Font Imports

@font-face {
  font-family: 'CeraPro-Bold';
  src: url('/assets/fonts/CeraPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-Medium';
  src: url('/assets/fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-Regular';
  src: url('/assets/fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-Light';
  src: url('/assets/fonts/CeraPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IkonoMiniL-5';
  src: url('/assets/fonts/IkonoMiniL-5.otf') format('truetype');
}

@font-face {
  font-family: 'IkonoMiniL-3';
  src: url('/assets/fonts/IkonoMiniL-3.otf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}
