@charset 'utf-8';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
//Vendor
// @import "vendor/__vendor-dir";

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  overflow-y: scroll;
}

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Buttons
@import "buttons/__buttons-dir";

//Components
@import "components/__components-dir";

//Pages
@import "pages/__pages-dir";

// Custom
.modal {
  opacity: 1;
}
