.login {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  height: 100%;

  .login-title {
    font-family: 'JosefinSans-Regular';
    font-weight: 700;

    h1 {
      color: black;
      font-size: 30px;
    }
  }

  .sso-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .submit-button {
    float: right;
    width: 144px;
    height: 38px;
    margin-top: 10px;
    border-radius: 0;
    border: 0;
    background-color: rgba(241,138,124, 0.62);
    color: #353839;
    font-family: 'JosefinSans-Regular';

    &:hover {
      background-color: #f18a7c;
      opacity: 1;
      color: #353839
    
    }

    // no fucking clue why this doesn't work. will come back to it
    &:active {
      color: #f18a7c;
    }
  }

  .login-fields {
    margin-top: 20px;

    .email-field,
    .password-field {
      background-color: rgba(241,138,124, 0.24);
      border: 0;
      height: 38px;

      &::placeholder {
        font-family: 'JosefinSans-Regular';
        font-weight: 600;
        color: #353839;
      }
    }
  }
}
