.form-dropdown-button-long {
  width: 400px;
  height: 40px;
  margin: 10px;
  padding: 5px 35px 5px 5px;
  font-family: 'JosefinSans-Regular';
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 98% / 5% no-repeat #EEE;
  background-color: rgba(241, 138, 124, 0.24);
}

.form-dropdown-button-short {
  width: 190px;
  height: 40px;
  margin: 10px;
  padding: 5px 35px 5px 5px;
  font-family: 'JosefinSans-Regular';
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 98% / 5% no-repeat #EEE;
  background-color: rgba(241, 138, 124, 0.24);
}

.form-button-long {
  width: 400px;
  height: 40px;
  margin: 10px;
  background-color: rgba(241, 138, 124, 0.24);
}

.form-submit {
  width: 400px;
  height: 40px;
  color: #ffffff;
  font-family: 'JosefinSans-Regular';
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(52, 52, 52, 0.78);
  margin: 10px;
}

.create-title {
  font-family: 'GlossAndBloom';
  font-size: 45px;
}

.create-body {
  font-family: 'JosefinSans-Regular';
  font-weight: 700;
  font-size: 24px;
}

.link-icon {
  height: 25px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}