.form-dropdown-button-long {
  width: 400px;
  height: 40px;
  margin: 10px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 98% / 5% no-repeat #EEE;
  background-color: #f18a7c;
}

.form-dropdown-button-short {
  width: 190px;
  height: 40px;
  margin: 10px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 98% / 5% no-repeat #EEE;
  background-color: #f18a7c;
}

.form-button-long {
  width: 400px;
  height: 40px;
  margin: 10px;
  background-color: #f18a7c;
}

.form-submit {
  width: 400px;
  height: 40px;
  color: #ffffff;
  background-color: #343434;
  margin: 10px;
}

.create-title {
  font-family: 'Josefin Sans';
  font-size: 48px;
}

.create-body {
  font-family: 'Josefin Sans';
  font-size: 24px;
}

.link-icon {
  height: 25px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}